www.malakhovai.ru {
	redir https://malakhovai.ru{uri} 308
}

malakhovai.ru {
	encode zstd gzip

	handle /api/leads* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv/ai-business-deck
		try_files {path} /index.html
		file_server
	}
}

api.malakhovai.ru {
	encode zstd gzip

	@vless path /vless-a4c5a3b624212c6bfa26d18ea9e5c458 /vless-a4c5a3b624212c6bfa26d18ea9e5c458/*
	reverse_proxy @vless 172.18.0.1:10000

	reverse_proxy api:8000
}

news.malakhovai.ru {
	encode zstd gzip
	reverse_proxy api:8000
}
