COMFYUI_REF=v0.15.1
PYTORCH_CUDA_INDEX_URL=https://download.pytorch.org/whl/cu126

COMFYUI_PORT=8188
COMFYUI_HOST_PORT=18188
COMFYUI_ARGS=--listen 0.0.0.0 --port 8188 --disable-api-nodes

COMFYUI_BASE_DIR=/srv/comfyui
COMFYUI_CACHE_DIR=/srv/comfyui/cache
COMFYUI_INPUT_DIR=/srv/comfyui/input
COMFYUI_OUTPUT_DIR=/srv/comfyui/output

COMFYUI_CHECKPOINTS_DIR=/srv/comfyui/models/checkpoints
COMFYUI_LORAS_DIR=/srv/comfyui/models/loras
COMFYUI_CONTROLNET_DIR=/srv/comfyui/models/controlnet
COMFYUI_VAE_DIR=/srv/comfyui/models/vae
COMFYUI_UPSCALE_MODELS_DIR=/srv/comfyui/models/upscale_models
COMFYUI_WORKFLOWS_DIR=/srv/comfyui/user/default/workflows

HF_HOME=/srv/comfyui/cache/huggingface
HF_TOKEN=
CIVITAI_TOKEN=

COMFYUI_PUBLIC_HOST=comfy.malakhovai.ru
COMFYUI_BASIC_AUTH_USER=comfy
COMFYUI_BASIC_AUTH_HASH=
